html{
	background-color: #D1DBBD;
}
body{
	background-image:url(pics/background.png);
}
#menu {
	padding: 0; margin: 0;
	text-align: center;
	
}
#logo{
	
}
#follow{
	float:left;
}
#description{
	background-color: #D1DBBD;
	text-align:center;
	float:center;
	color:#3E606F;
}
#category{
	float:left;
	margin-left:30px;
	border: 1px solid black;
}
#principale{
	;
}
figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
img, figcaption {
    transition: all .25s ease;
}
img {
    display: block;
}
figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
	padding-left:25px;
    background: #000;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    opacity: 0;
}
figcaption a{
		text-decoration:none;
		color: grey;
}
figure:hover img {
    transform: scale(1.1);
}
figure:hover figcaption {
    opacity: 0.5;
}
.row {

  margin-right: -15px;
  margin-left: -15px;

}

.container {

  padding-right: 15px;

  padding-left: 15px;

  margin-right: auto;

  margin-left: auto;

}
[class*="col-"], footer {


  border: 2px solid red;

  border-radius: 6px;

  line-height: 40px;

  text-align: center;

}
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
	background-color: #D1DBBD;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
    .sidebar-nav .navbar li a:hover {
    padding-top: 12px;
    padding-bottom: 12px;
	color:red;
  }
}
#autre{
	color:#FCFFF5;
}
.affichages{
	border: 1px solid green;
	float: left;
	padding-left:20px;
}
.resize{
	max-width: 200px;
	height: auto;
}
/*.resize:hover{
	max-width: 500px;
	height: auto;
}*/
#cats{
	padding-top:50px;
	text-align:center;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}